@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500;800&display=swap');

body,
html {
    height: 100%;
}

.navbar-brand {
    font-size: 40px;
    font-family: 'Dangrek';
}

.form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    /* max-width: 720px; */
    margin: 0 auto;
    /* width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; */
}

.form button{
    margin: 10px 0px;
    background-color: blue;
    color: white;
}

.form button:hover{ 
    background-color: blue;
    color: white;
}