@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500;800&display=swap');

body,
html {
    height: 100%;
}

.navbar-brand {
    font-size: 40px;
    font-family: 'Dangrek';
}

.form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 720px;
    margin: 0 auto;
}

.rule-body {
    font-size: 20px !important;
    color: #434175 !important;
}
